.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 1.1 Telesalud y Telemedicina
            .tituloPrincipal__icono

    .row.my-5
        .col

            .card#que_es_ts
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/cyN4r9DsB-g', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    p.mb-0
                        strong ¿Qué es Telesalud? 
                        | De acuerdo a lo señalado en la resolución 2654 de 2019 y al artículo 2 de la ley 1419 de 2010, la Telesalud corresponde al conjunto de actividades relacionadas con la salud, servicios y métodos los cuales se llevan a cabo a distancia con la ayuda de las tecnologías de la información y comunicación (TIC). Incluye, entre otras, la Telemedicina y la Teleducación en salud.



    section.que_es_telesalud.d-none

        .text-hero.text-hero--arrow-bottom
            h3 Qué es Telesalud?
            p.text-muted INFOGRAFÍA


        .row.justify-content-center.my-5
            .col-sm-12.col-md-8
                .img-container       
                    figure
                        img(src="../content/images/modulo-1/t-mapa.svg", alt="Qué es Telesalud")


    section.objetivos

        .card 

            .card-body


                .question

                    .question-header

                        .question-number
                            span 1.

                        .question-title
                            span ¿ Cuál es el objetivo que pretende la telesalud ?


                    .question-body
                        p
                            | La Telesalud busca mejorar el acceso, la resolutividad, la continuidad y la calidad de la atención clínica, impactar la salud pública y la educación para la salud mediante el uso de las TIC.


                        .row.justify-content-center.align-items-center.mt-3

                            article.col-md-4.wow.bounceInLeft(data-wow-delay='.3s')
                                img(src='images/modulo-1/t5.svg', alt='Mejor Acceso').icon-big.img-fluid
                                h3 Mejor Acceso
                                
            
                            article.col-md-4.wow.bounceInUp(data-wow-delay='.6s')
                                img(src='images/modulo-1/t6.svg', alt='Resolutividad').icon-big.img-fluid
                                h3 Resolutividad

                            article.col-md-4.wow.bounceInRight(data-wow-delay='1s')
                                img(src='images/modulo-1/t7.svg', alt='Continuidad').icon-big.img-fluid
                                h3 Continuidad

                .question           

                    .question-header

                        .question-number
                            span 2.

                        .question-title
                            span ¿Los usuarios pueden sentirse tranquilos y seguros cuándo sean atendidos con actividades de telesalud?


                    .question-body
                        p
                            | Si. Todos los colombianos que sean atendidos con actividades de Telesalud como Teleorientación en salud y Teleapoyo, porque se garantizan los siguientes principios:

                        .row.justify-content-center.align-items-start.mt-3

                            article.col-md-6.col-lg-3.wow.fadeIn(data-wow-delay='.3s')
                                img(src='images/modulo-1/t1.svg', alt='Mejor Acceso')
                                h3 Libre escogencia
                                p.d-none.d-md-block.text-muted
                                    | Del usuario en el marco del SGSSS

          
                            article.col-md-6.col-lg-3.wow.fadeIn(data-wow-delay='.6s')
                                img(src='images/modulo-1/t2.svg', alt='Resolutividad')
                                h3 Autonomía profesional
                                p.d-none.d-md-block.text-muted 
                                    | Art 17 ley 1751 de 2015
                                    br
                                    | Principios éticos de las profesiones


                            article.col-md-6.col-lg-3.wow.fadeIn(data-wow-delay='.9s')
                                img(src='images/modulo-1/t3.svg', alt='Continuidad')
                                h3 Responsabilidad y competencias
                                p.d-none.d-md-block.text-muted
                                    | Cumple estándares 
                                    br
                                    |  Formación continua 
                                    br
                                    | Personal de salud en el marco de competencias


                            article.col-md-6.col-lg-3.wow.fadeIn(data-wow-delay='1.2s')
                                img(src='images/modulo-1/t4.svg', alt='Continuidad')
                                h3 Consentimiento informado
                                p.d-none.d-md-block.text-muted
                                    | Como funciona
                                    br
                                    | Riesgos , Beneficios , Responsabilidades 
                                    br
                                    | Manejo privacidad etc.



