.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 3.1 Telemedicina interactiva y no interactiva. 
            .tituloPrincipal__icono

    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/_d4f3w0QfbM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0


                    .question           

                        .question-header

                            .question-number
                                i.fa.fa-lg.fa-heartbeat

                            .question-title
                                span ¿Qué es TELEMEDICINA?

                        .question-body

                            figure.my-5
                                img(src="images/modulo-3/telemedicina.svg").img-fluid

                            p.mt-5
                                | De acuerdo a lo señalado en la <strong>resolución 2654 de 2019 y al artículo 2 de la ley 1419 de 2010</strong>, la telemedicina corresponde a la provisión de servicios de salud a distancia en los componentes de promoción, prevención, diagnósticos, tratamiento, y rehabilitación por profesionales de la salud que utilizan las tecnologías de la información y la comunicación.

                            .jumbotron
                                p 
                                    strong Además de acuerdo a lo señalado en la resolución 5521 de 2013 en su artículo 13.


                            p 
                                | Con el fin de facilitar el acceso oportuno a los beneficios definidos en el presente acto administrativo y de conformidad con las normas de calidad vigentes en el país, el POS incluye la modalidad de Telemedicina cuando esta se encuentre disponible, permita la finalidad de la prestación del servicio o garantice mayor oportunidad, en caso de que la atención presencial esté limitada por barreras de acceso geográfico o baja disponibilidad de oferta. Resolución 5521 de 2013 en su articulo 13.


    section

        .text-hero.text-hero--arrow-bottom.mb-5
            h3 
                i.fa.fa-lg.fa-heartbeat.mr-2
                | Telemedicina Interactiva

        .card
            
            .card-body
           
                figure
                    img(src="images/modulo-3/telemedicina-interactiva.svg").img-fluid

                p
                    | Relación a distancia entre un profesional del área de la salud de un prestador y un usuario para la prestación de servicios de salud, mediante la utilización de las tecnologías de la información y la comunicación (TIC), por medio de una videollamada en tiempo real, en donde el profesional de salud orienta el diagnóstico, tratamiento e intervenciones ordenadas.


    section

        .text-hero.text-hero--arrow-bottom.mb-5
            h3 
                i.fa.fa-lg.fa-heartbeat.mr-2
                | Telemedicina No Interactiva

        .card
            
            .card-body
           
                figure
                    img(src="images/modulo-3/telemedicina-nointeractiva.svg").img-fluid

                p
                    | Relación a distancia entre un profesional del área de la salud de un prestador y un usuario para la prestación de servicios de salud, mediante la utilización de las tecnologías de la información y la comunicación (TIC), por medio de una comunicación asincrónica, que no requiere respuesta inmediata, en donde el profesional de salud orienta el diagnóstico, tratamiento e intervenciones ordenadas.


    section

        .text-hero.text-hero--arrow-bottom.mb-5
            h3 
                i.fa.fa-lg.fa-heartbeat.mr-2
                | Ejemplo de TeleMedicina
            p.text-muted.mt-1                
                | Veamos el siguiente ejemplo de TeleMedicina.

        .row    
            .col-12.col-lg-6
                .card
                    img(src="images/modulo-3/c1.svg").card-img-top
                    .card-body
                        p.card-text
                            | Carmen Elena es una señora que habita en una región geográfica relativamente apartada del hospital donde consulta. Un día Carmen Elena se sintió mal de salud y su amiga Lorena, la acompañó al puesto de salud más cercano. Allí la recibió la enfermera jefe de turno quien le hizo la valoración inicial y le tomó sus signos vitales.


            .col-12.col-lg-6
                .card
                    img(src="images/modulo-3/c2.svg").card-img-top
                    .card-body
                        p.card-text
                            |  El estado de salud de Carmen Elena estaba empeorando y la enfermera consideró pertinente que la señora recibiera una atención más especializada. <strong>La enfermera entonces decide ofrecerle a Carmen Elena el servicio de atención en salud mediante la modalidad de Telemedicina</strong>, a través de una videollamada, con un médico especialista que se encontraba en el hospital municipal, al que pertenece el puesto de salud.
                

        .row    
            .col-12.col-lg-6
                .card
                    img(src="images/modulo-3/c3.svg").card-img-top
                    .card-body
                        p.card-text
                            | Carmen Elena acepta esta modalidad de atención (a través del consentimiento informado) y la enfermera accede a la plataforma de Teleconsulta para solicitar una interconsulta en tiempo real (TELEMEDICINA INTERACTIVA) con el Médico que necesita Doña Carmen Elena. 
                            
                            .media-link-btn
                                a(href="media/documentos/3-consentimiento-informado.pdf", target="_blank").media-link      
                                    .media-link-btn__container        
                                        .media-link-btn__icon  
                                            img(src="../assets/images/icons/icon_pdf.svg", alt="")     
                                        .media-link-btn__copy
                                            p #[strong Formato]. Consentimiento informado verbal para tratamiento de datos ante la crisis de COVID-19 por Telesalud.


            .col-12.col-lg-6
                .card
                    img(src="images/modulo-3/c4.svg").card-img-top
                    .card-body
                        p.card-text
                            | El Médico estableció comunicación con la enfermera y Carmen Elena, a través de este medio y le solicitó a la enfermera jefe llevar a cabo los procedimientos requeridos para tratar a la paciente. La enfermera será la responsable de realizar todos los procedimientos ordenados por el médico para la recuperación de la paciente, así como de confirmar y enviar los datos para dar una opinión médica frente a su tratamiento.


        .row    
            .col-12.col-lg-6
                .card
                    img(src="images/modulo-3/c5.svg").card-img-top
                    .card-body
                        p.card-text
                            | Al terminar la tele- interconsulta, el médico le dio su diagnóstico y las recomendaciones pertinentes a su caso. La enfermera jefe será la encargada de realizar el seguimiento, para lo cual le informa a Carmen Elena que en dos días recibirá una llamada telefónica en el transcurso del día, para verificar su estado de salud y aclarar las dudas con el Médico.




        .jumbotron.mt-5
            h3 Algunas Recomendaciones
            p
                ul
                    li La telemedicina interactiva permite el acercamiento entre los profesionales del área de la salud y los pacientes en un tiempo real, mediante la utilización de las tecnologías de la información y las comunicaciones (TIC).
                    li La telemedicina interactiva evita el traslado del paciente para consultar con un Médico general o Especialista, de acuerdo al caso.
                    li La telemedicina interactiva y no interactiva permite brindar de manera oportuna un diagnóstico, tratamiento y las intervenciones requeridas por cada paciente.



