.container
  .row
    .col
      p.reference
        i.icon.reference
        span
          | Ministerio de Salud y Protección Social. Decreto 538. Por el cual se adoptan medidas en el sector salud, para contener y mitigar la pandemia de COVID-19 y garantizar la prestación de los servicios de salud, en el marco del Estado de Emergencia Económica, Social y Ecológica. Colombia. 2020.
      p.reference
        i.icon.reference
        span
          | Ministerio de Salud y Protección Social. Plan de acción para la prestación de servicios de salud durante las etapas de contención y mitigación de la pandemia por SARS-COV-2 (COVID-19). Colombia. 2020
      p.reference
        i.icon.reference
        span
          | Ministerio de Salud y Protección Social. Covid-19: Telesalud Una guía rápida para la evaluación de pacientes. Colombia. 2020
      p.reference
        i.icon.reference
        span
          | College of Physicians y Surgeons of Alberta.COVID-19: Virtual Care. Canada. 2020
      p.reference
        i.icon.reference
        span
          | Ministerio de Salud y Protección Social. Resolución 521. Por el cual se adopta el procedimiento para la atención ambulatoria de población en aislamiento preventivo obligatorio con énfasis en población con 70 años o más en condiciones crónicas de base o inmunosupresión por enfermedad o tratamiento, durante la emergencia sanitaria por COVID-19. Colombia. 2020
      p.reference
        i.icon.reference
        span
          | Ministerio de Salud y Protección Social. Resolución 2654. Disposiciones para Telesalud y parámetros de la práctica de medicina en Colombia. Colombia. 2019
      p.reference
        i.icon.reference
        span
          | Ministerio de Comercio Industria y Turismo. Ley 1581 Régimen General de Protección de Datos Personales Colombia 2013
