head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title TELESALUD TE CUIDA
  meta(meta name="description" content="Este evento de divulgación tecnológica (EDT), presenta a la comunidad y al personal en salud la Telesalud, como estrategia para mejorar el acceso, la resolutividad, la continuidad y la calidad de la atención clínica de pacientes sospechosos y diagnosticados con COVID-19, impactando la salud pública y la educación para la salud mediante el uso de las TIC.")   
  link(rel="icon",type="image/svg+xml",href="../assets/images/logos/senaLogo.svg")
  link(rel="stylesheet", href="../assets/fonts/fontawesome/css/font-awesome.css")  
  link(href='../assets/css/animate.css', rel='stylesheet')
  link(href='../assets/css/main.css?v=1.2', rel='stylesheet')
  